Step 1: Merge Features and Target

In [2]:
import pandas as pd

# Load the raw training data and target labels
train_df = pd.read_csv('../data/train.csv')  # adjust path if needed
labels_df = pd.read_csv('../data/train_labels.csv')

# Extract only the target we care about: target_2
target_df = labels_df[['date_id', 'target_2']].copy()

# Merge the features with the target
merged_df = pd.merge(train_df, target_df, on='date_id', how='left')

Step 2: Align Target with Future Value (Shift by -1)

In [3]:
# Shift the target up by 1 day to align with todayâ€™s features
merged_df['target_2_shifted'] = merged_df['target_2'].shift(-1)

# Drop last row (where shifted target becomes NaN)
merged_df = merged_df.dropna(subset=['target_2_shifted'])

Step 3: Preview That It Worked

In [4]:
# Preview a few rows of relevant columns
merged_df[['date_id', 'LME_CA_Close', 'LME_ZS_Close', 'target_2', 'target_2_shifted']].head(10)

   date_id  LME_CA_Close  LME_ZS_Close  target_2  target_2_shifted
0        0        7205.0        3349.0 -0.004675         -0.007052
1        1        7147.0        3327.0 -0.007052         -0.008934
2        2        7188.5        3362.0 -0.008934          0.011943
3        3        7121.0        3354.0  0.011943          0.006856
4        4        7125.0        3386.0  0.006856         -0.016626
5        5        7102.0        3335.0 -0.016626         -0.003542
6        6        7153.0        3336.0 -0.003542          0.002360
7        7        7140.5        3386.0  0.002360         -0.013058
8        8        7110.0        3383.5 -0.013058          0.004692
9        9        7210.0        3423.0  0.004692          0.003432